header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 75%; */
    background-color: skyblue;
    grid-area: header;
}

header img{
    width: 375px;
}

body {
    display: grid;
    grid-template-areas: 
    "header header"
    "dropdown ."
    "displayInfo displayInfo"
    "review review";
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    font-family: monospace;
    background-color: lavender;
    width: 75%;
    margin: 10px auto;
}

#dropdown {
    grid-area: dropdown;
    text-align: center;
}

#dropdown select {
    width: 200px;
}

#display-info {
    grid-area: displayInfo;
    min-height: 50px;
}

#review {
    grid-area: review;
    margin: 0 auto;

}

#review input[type="submit"] {
    width: 200px;
}

#dropdown, 
#display-info, 
#review {
    padding: 10px;
}