#header {
    background-color: skyblue;
    width: 75%;
    grid-area: header;
    text-align: center;
    font-family: monospace;
}

body {
    background-color: lavender;
    color: black;
}

img {
    width: 250px;
    height: auto;
}

/* body > * {
    border: 1px solid black;
} */

#main {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "dropdown dropdown dropdown"
    "display display display display"
    "textArea textArea textArea textArea";
    max-width: 800px;
    margin: 0 auto;
}

#movie-dropdown {
    font-family: monospace;
    grid-area: dropdown;
    text-align: center;
}

#display-info {
    grid-area: display;
    font-family: monospace;
    text-align: center;
}

#text-input {
    grid-area: textArea;
    text-align: center;
}

form {
    text-align: center;
}