#header {
    background-color: skyblue;
    width: 75%;
    
}

body {
    background-color: lavender;
    color: black;
}

#main > * {
    border: 1px solid black;
}

#main {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "dropdown dropdown dropdown"
    "display display display display";
    max-width: 800px;
    margin: 0 auto;
}

#movie-dropdown {
    grid-area: dropdown;
}

#display-info {
    grid-area: display;
}
